body{

    display: flex;
    flex-direction: column;
    align-items: 50%;
    background-color: darkgray;
}

.profile{
    width:35%;
    background-color: rgb(52, 127, 146);
    height: 900px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}


.c1{
    display: flex;
}
main{
    display: flex;
}
.container{
    width: 10rem; ;
    height:10rem ;
    background:white ;
    display:flex ;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    margin-left: 35%;
}
.container div{
    min-width: 10rem;;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size:10rem ;
}
.container img{
    width: 10rem;

}
.profile2{
    width: 100%;
    padding: 50px;
    padding: 5px;
    background-color: darkgrey;
}
.profile2 h2{
    border-bottom: black 1px solid ;
    
}
.profile2 table td{
    
    text-align: center;
    width: 500px;
}
table, td, th {
    border: 1px solid;
  }
.profile2 table {

    width: 100%;
    border-collapse: collapse;
  }
